# ДЗ_3
## Задание 1

In [119]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split

In [120]:
boston = load_boston()

In [125]:
feature_names = boston["feature_names"]
target = boston["target"]
data = boston['data']

In [126]:
X = pd.DataFrame(data, columns =feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [127]:
y=pd.DataFrame(target, columns = ["price"])

In [128]:
y

     price
0     24.0
1     21.6
2     34.7
3     33.4
4     36.2
..     ...
501   22.4
502   20.6
503   23.9
504   22.0
505   11.9

[506 rows x 1 columns]

In [129]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3,random_state = 42)

In [130]:
from sklearn.linear_model import LinearRegression

In [131]:
lr = LinearRegression()

In [132]:
lr.fit(X_train, y_train)

LinearRegression()

In [133]:
y_pred = lr.predict(X_test)

In [134]:
check_test = pd.DataFrame({
    "y_test":y_test["price"],
    "y_pred": y_pred.flatten(),
})
check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [135]:
#check_test["error"] = check_test['y_pred']- check_test["y_test"]

In [136]:
#check_test.head()

In [137]:
from sklearn.metrics import r2_score 
r2_score1=r2_score(check_test["y_pred"], check_test["y_test"]) 
r2_score1

0.669370269149561

## Задание 2

In [138]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [139]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [140]:
y_pred = model.predict(X_test)

In [141]:
check_test = pd.DataFrame({ "y_test": y_test["price"], "y_pred": y_pred.flatten(),
}) 
check_test.head(10)

     y_test     y_pred
173    23.6  22.806412
274    32.4  31.131464
491    13.6  16.339125
72     22.8  23.810726
452    16.1  17.139521
76     20.0  21.832284
316    17.8  19.895747
140    14.0  14.754118
471    19.6  21.240835
500    16.8  20.898658

In [142]:
 r2_score2=r2_score(check_test["y_pred"], check_test["y_test"]) 
 r2_score2

0.8479049999699443

In [143]:
r2_score1<r2_score2

True

## Задание 3

In [144]:
?RandomForestRegressor

In [145]:
print(model.feature_importances_)

[0.03167574 0.00154252 0.00713813 0.00123624 0.01426897 0.40268179
 0.01429864 0.06397257 0.00528122 0.01152493 0.01808108 0.01245085
 0.41584732]

In [146]:
 model.feature_importances_.sum()

1.0

In [147]:
max_value_idx1=model.feature_importances_.argmax() 
max_value_idx1

12

In [148]:
max_value_idx2=0 
max_value=model.feature_importances_[max_value_idx2] 
for i in range(model.n_features_):
    if max_value<model.feature_importances_[i] and i!=max_value_idx1: 
        max_value=model.feature_importances_[i]
        max_value_idx2=i
print(max_value_idx2)

5